# SAP FSM Configuration
FSM_TOKEN_URL=https://eu.coresuite.com/api
VITE_SAP_ACCOUNT_ID=86810
VITE_SAP_COMPANY_ID=111214
VITE_SAP_CLIENT_ID=0001531a-fsmtable
VITE_SAP_CLIENT_SECRET=4b657b69-837c-4b00-a903-7f89161703b4
VITE_SAP_CLIENT_ID_NAME=FSMfieldplan
VITE_SAP_CLIENT_ID_VERSION=0.1
VITE_SAP_FSM_BASE_URL=https://eu.fsm.cloud.sap
VITE_SAP_SERVICE_URL=https://eu.fsm.cloud.sap/api/service-management/v2/activities/
VITE_SAP_TEST_USER=BC1164511670442EA56C76A00A9199F8
VITE_AWS_API_BASE_URL=https://wo9bcs9cs5.execute-api.eu-north-1.amazonaws.com

# Tenant API Gateway Configuration
VITE_TENANT_API_URL=https://40be8c42uc.execute-api.eu-north-1.amazonaws.com/dev

# API Configuration
VITE_API_TIMEOUT=30000
VITE_API_RETRY_ATTEMPTS=3

# Application Configuration
VITE_APP_TITLE=FSM Appointment Manager
VITE_APP_VERSION=1.0.0
VITE_USE_DYNAMODB=true